<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGCG - Sistema de Gestão do Conhecimento Gamificado</title>
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/cognitio.css">
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

    <ul class="topnav">
        <li>
            <a href="/">Pagina Inicial</a>
        </li>
        <li>
            <a href="/my-data">Meus Dados</a>
        </li>
        <li>
            <a href="/ranking">Ranking</a>
        </li>
        <li>
            <a class="active" href="/add">Novo Conhecimento</a>
        </li>
        <li class="right">
            <a class="logout" href="/logout">Logout</a>
        </li>
    </ul>

    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Bem-Vindo {{usuário}}</h1>
        </div>
        <input class="form-control" type="search" placeholder="Pesquisa">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th class="text-center">Ação</th>
                </tr>
                <tr>
                    <td>
                        <a href="#/view/{{post._id}}">{{titulo}}</a>
                    </td>
                    <td>{{autor}}</td>
                    <td>{{categoria}}</td>
                    <td class="text-center">
                        <a ng-href="#/post/{{post._id}}" class="btn btn-primary">Editar</a>
                        <button ng-click="remove(post)" class="btn btn-warning">Remover</buttom>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#/view/{{post._id}}">{{titulo}}</a>
                    </td>
                    <td>{{autor}}</td>
                    <td>{{categoria}}</td>
                    <td class="text-center">
                        <a ng-href="#/post/{{post._id}}" class="btn btn-primary">Editar</a>
                        <button ng-click="remove(post)" class="btn btn-warning">Remover</buttom>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#/view/{{post._id}}">{{titulo}}</a>
                    </td>
                    <td>{{autor}}</td>
                    <td>{{categoria}}</td>
                    <td class="text-center">
                        <a ng-href="#/post/{{post._id}}" class="btn btn-primary">Editar</a>
                        <button ng-click="remove(post)" class="btn btn-warning">Remover</buttom>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#/view/{{post._id}}">{{titulo}}</a>
                    </td>
                    <td>{{autor}}</td>
                    <td>{{categoria}}</td>
                    <td class="text-center">
                        <a ng-href="#/post/{{post._id}}" class="btn btn-primary">Editar</a>
                        <button ng-click="remove(post)" class="btn btn-warning">Remover</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer class="footer">
        <p>Rasersoft</p>
    </footer>

</body>

</html>