<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGCG - Sistema de Gestão do Conhecimento Gamificado</title>
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/cognitio.css">
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

    <ul class="topnav">
        <li>
            <a href="/">Pagina Inicial</a>
        </li>
        <li>
            <a href="/my-data">Meus Dados</a>
        </li>
        <li>
            <a href="/ranking">Ranking</a>
        </li>
        <li>
            <a class="active" href="/add">Novo Conhecimento</a>
        </li>
        <li class="right">
            <a class="logout" href="/logout">Logout</a>
        </li>
    </ul>

    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Meus Dados</h1>
        </div>
        <div class="score">
            <p>{{user.score}} Pontos</p>
            <span class="glyphicon glyphicon-star-empty" ></span>
            <span class="glyphicon glyphicon-star-empty" ></span>
            <span class="glyphicon glyphicon-star-empty" ></span>
        </div>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="titulo">Nome:</label>
                <input type="text" class="form-control" name="name" placeholder="Nome" value="{{user.name}}">
            </div>
            <div class="form-group">
                <label for="titulo">Email:</label>
                <input type="email" class="form-control" name="email" placeholder="Email" value="{{user.email}}">
            </div>
            <div class="form-group">
                <label for="titulo">Data de Nascimento:</label>
                <input type="date" class="form-control dt-nasc" name="dtNascimento" placeholder="Data de Nasciomento" value="{{user.birthDate}}">
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
    </div>
    <footer class="footer">
        <p>Rasersoft</p>
    </footer>

</body>

</html>