body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active):not(.logout) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li a.logout {
    background-color: rgb(221, 61, 61);
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.footer {
    padding: 50px;
    margin-top: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.knowledge-images {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.score {
    font-size: 50px;
    text-align: center;
    margin: auto;
}

.alert {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.util {
    font-size: 50px;
    text-align: center;
    margin: auto;
}