<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGCG - Sistema de Gestão do Conhecimento Gamificado</title>
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/cognitio.css">
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/cognitio.js"></script>
</head>

<body>
    <article>
        <header>
            <ul class="topnav">
                <li>
                    <a href="/">Pagina Inicial</a>
                </li>
                <li>
                    <a href="/my-data">Meus Dados</a>
                </li>
                <li>
                    <a href="/ranking">Ranking</a>
                </li>
                <li>
                    <a class="active" href="/add">Novo Conhecimento</a>
                </li>
                <li class="right">
                    <a class="logout" href="/logout">Logout</a>
                </li>
            </ul>
        </header>
        <main>
            <div class="container">
                {% if messages.success %}
                {% for message in messages.success %}
                <div class="alert alert-success">
                    <span class="alert-score">{{message}}</span>
                </div>
                {% endfor %}
                {% endif %}
                {% if messages.error %}
                {% for message in messages.error %}
                <div class="alert alert-danger">
                    <span class="alert-score">{{message}}</span>
                </div>
                {% endfor %}
                {% endif %}
                <div class="jumbotron">
                    <h1 class="text-center">Bem-Vindo {{usuário}}</h1>
                </div>
                <input class="form-control search" type="search" placeholder="Pesquisa">
                <div class="table-responsive">
                    <table class="table table-hover" id="knowledge-table">
                        <tr>
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Categoria</th>
                            <th class="text-center">Ação</th>
                        </tr>
                        {% for cognitio in knowledge %}
                        <tr>
                            <td>
                                <a href="/page/{{cognitio.slug}}">{{cognitio.title}}</a>
                            </td>
                            <td>{{cognitio.user.name}}</td>
                            <td>{{cognitio.category.name}}</td>
                            <td class="text-center">
                                <a href="/edit/{{cognitio.id}}">
                                    <span class="glyphicon glyphicon-pencil" />
                                </a>
                                <a href="/remove/{{cognitio.id}}">
                                    <span class="glyphicon glyphicon-remove" />
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </main>
        <footer class="footer">
            <p>Rasersoft</p>
        </footer>
    </article>
</body>

</html>