<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGCG - Sistema de Gestão do Conhecimento Gamificado</title>
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class='title'>
        <h1>SGCG</h1>
        <h2>Sistema de Gestão do conhecimento Gamificado</h1>
    </div>
    <div class="login-page">
        {% if messages.error %} {% for message in messages.error %}
        <div class="alert alert-danger">
            <span class="alert-score">{{message}}</span>
        </div>
        {% endfor %} {% endif %}
        <div class="form">
            <form class="login-form" action="/login" method="POST">
                <input type="text" id="username" name="login" placeholder="username" autofocus />
                <input type="password" id="password" name="password" placeholder="password" />
                <button type="submit" class="submit">login</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $(".alert").remove();
            }, 5000);
        });
    </script>
</body>

</html>